In [1]:
import pandas as pd
import json

train = pd.read_csv("dataset/Train_df.csv")

In [2]:
train.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath
5550,ID_VGCMyq.jpg,cssvd,1.0,103.0,313.0,423.0,699.0,1,dataset/images/train/ID_VGCMyq.jpg
3488,ID_Qy8MWD.jpeg,healthy,1.0,69.0,1457.0,2688.0,2673.0,2,dataset/images/train/ID_Qy8MWD.jpeg
1239,ID_O3gPBY.JPG,healthy,1.0,644.0,211.0,1873.0,2984.0,2,dataset/images/train/ID_O3gPBY.JPG
18,ID_Bw9N5J.jpg,healthy,1.0,84.0,0.0,2854.0,975.0,2,dataset/images/train/ID_Bw9N5J.jpg
9245,ID_qAUXAg.jpeg,healthy,1.0,183.0,247.0,4032.0,2400.0,2,dataset/images/train/ID_qAUXAg.jpeg

In [3]:
category_ids = train["class"].unique()
category_ids = {n: i for i, n in enumerate(sorted(category_ids))}

category_ids

{'anthracnose': 0, 'cssvd': 1, 'healthy': 2}

In [4]:
train.apply(
	lambda x: [x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]], axis=1
)

0             [15.0, 75.0, 180.0, 87.0]
1              [1.0, 58.0, 170.0, 75.0]
2            [29.0, 42.0, 320.0, 335.0]
3          [124.0, 112.0, 217.0, 292.0]
4          [259.0, 148.0, 153.0, 265.0]
                     ...
9692    [1440.0, 136.0, 2560.0, 1457.0]
9693        [0.0, 89.0, 1139.0, 1085.0]
9694      [360.0, 18.0, 1970.0, 1782.0]
9695     [174.0, 736.0, 3858.0, 1955.0]
9696     [1248.0, 57.0, 1075.0, 2678.0]
Length: 9697, dtype: object

In [5]:
train["category_id"] = train["class"].map(category_ids)
train["id"] = train.index.values
train["bbox"] = train.apply(
	lambda x: json.dumps([x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]]), axis=1
)
train["image_id"] = train["ImagePath"].values


train.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
4841,ID_OM4QWn.jpeg,cssvd,1.0,368.0,2859.0,1604.0,3562.0,1,dataset/images/train/ID_OM4QWn.jpeg,1,4841,"[2859.0, 368.0, 703.0, 1236.0]",dataset/images/train/ID_OM4QWn.jpeg
9110,ID_CGTYfy.jpeg,healthy,1.0,431.0,248.0,3304.0,1627.0,2,dataset/images/train/ID_CGTYfy.jpeg,2,9110,"[248.0, 431.0, 1379.0, 2873.0]",dataset/images/train/ID_CGTYfy.jpeg
2939,ID_LZJdgH.jpg,anthracnose,1.0,543.0,919.0,1610.0,1536.0,0,dataset/images/train/ID_LZJdgH.jpg,0,2939,"[919.0, 543.0, 617.0, 1067.0]",dataset/images/train/ID_LZJdgH.jpg
97,ID_VjNim4.jpg,healthy,1.0,24.0,1.0,138.0,61.0,2,dataset/images/train/ID_VjNim4.jpg,2,97,"[1.0, 24.0, 60.0, 114.0]",dataset/images/train/ID_VjNim4.jpg
532,ID_OVGb4c.jpg,healthy,1.0,229.0,0.0,1963.0,827.0,2,dataset/images/train/ID_OVGb4c.jpg,2,532,"[0.0, 229.0, 827.0, 1734.0]",dataset/images/train/ID_OVGb4c.jpg

In [6]:
train.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
6068,ID_wO98rz.jpg,cssvd,1.0,0.0,0.0,1080.0,756.0,1,dataset/images/train/ID_wO98rz.jpg,1,6068,"[0.0, 0.0, 756.0, 1080.0]",dataset/images/train/ID_wO98rz.jpg
9640,ID_xJcaPc.jpeg,anthracnose,1.0,453.0,356.0,2326.0,3927.0,0,dataset/images/train/ID_xJcaPc.jpeg,0,9640,"[356.0, 453.0, 3571.0, 1873.0]",dataset/images/train/ID_xJcaPc.jpeg
297,ID_OLFmTD.jpg,healthy,1.0,14.0,108.0,407.0,379.0,2,dataset/images/train/ID_OLFmTD.jpg,2,297,"[108.0, 14.0, 271.0, 393.0]",dataset/images/train/ID_OLFmTD.jpg
535,ID_ro3M2h.jpg,healthy,1.0,19.0,13.0,416.0,269.0,2,dataset/images/train/ID_ro3M2h.jpg,2,535,"[13.0, 19.0, 256.0, 397.0]",dataset/images/train/ID_ro3M2h.jpg
8097,ID_D6CvGq.jpg,healthy,1.0,331.0,270.0,1253.0,535.0,2,dataset/images/train/ID_D6CvGq.jpg,2,8097,"[270.0, 331.0, 265.0, 922.0]",dataset/images/train/ID_D6CvGq.jpg

In [7]:
valid = pd.read_csv("dataset/Val_df.csv")

valid.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath
58,ID_AECW0W.jpg,cssvd,1.0,318.0,1.0,1150.0,559.0,1,dataset/images/train/ID_AECW0W.jpg
20,ID_aTTp2e.jpg,healthy,1.0,349.0,489.0,2345.0,1730.0,2,dataset/images/train/ID_aTTp2e.jpg
18,ID_ka3SdB.jpg,healthy,1.0,55.0,278.0,285.0,414.0,2,dataset/images/train/ID_ka3SdB.jpg
35,ID_sqkRby.jpg,anthracnose,1.0,224.0,696.0,991.0,960.0,0,dataset/images/train/ID_sqkRby.jpg
61,ID_YQlY8q.jpg,cssvd,1.0,408.0,278.0,1647.0,1120.0,1,dataset/images/train/ID_YQlY8q.jpg

In [8]:
valid["category_id"] = valid["class"].map(category_ids)
valid["id"] = valid.index.values
valid["bbox"] = valid.apply(
	lambda x: json.dumps([x["xmin"], x["ymin"], x["xmax"] - x["xmin"], x["ymax"] - x["ymin"]]), axis=1
)
valid["image_id"] = valid["ImagePath"].values


valid.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
13,ID_sFXWTT.jpg,healthy,1.0,182.0,1.0,416.0,116.0,2,dataset/images/train/ID_sFXWTT.jpg,2,13,"[1.0, 182.0, 115.0, 234.0]",dataset/images/train/ID_sFXWTT.jpg
6,ID_gqbwtB.jpg,healthy,1.0,22.0,1.0,192.0,59.0,2,dataset/images/train/ID_gqbwtB.jpg,2,6,"[1.0, 22.0, 58.0, 170.0]",dataset/images/train/ID_gqbwtB.jpg
23,ID_v1PbJC.jpg,anthracnose,1.0,0.0,12.0,2471.0,1667.0,0,dataset/images/train/ID_v1PbJC.jpg,0,23,"[12.0, 0.0, 1655.0, 2471.0]",dataset/images/train/ID_v1PbJC.jpg
45,ID_vDdYaf.jpg,cssvd,1.0,94.0,17.0,1280.0,795.0,1,dataset/images/train/ID_vDdYaf.jpg,1,45,"[17.0, 94.0, 778.0, 1186.0]",dataset/images/train/ID_vDdYaf.jpg
39,ID_QEGas6.jpg,anthracnose,1.0,317.0,175.0,1280.0,736.0,0,dataset/images/train/ID_QEGas6.jpg,0,39,"[175.0, 317.0, 561.0, 963.0]",dataset/images/train/ID_QEGas6.jpg

In [9]:
valid["image_id"] = valid["image_id"].str.replace("train", "val")

In [10]:
valid.sample(5)

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath,category_id,id,bbox,image_id
47,ID_TSkjv2.jpg,cssvd,1.0,568.0,555.0,810.0,1027.0,1,dataset/images/train/ID_TSkjv2.jpg,1,47,"[555.0, 568.0, 472.0, 242.0]",dataset/images/val/ID_TSkjv2.jpg
79,ID_RNAyxb.jpg,healthy,1.0,0.0,40.0,262.0,184.0,2,dataset/images/train/ID_RNAyxb.jpg,2,79,"[40.0, 0.0, 144.0, 262.0]",dataset/images/val/ID_RNAyxb.jpg
54,ID_SCg5VZ.jpg,cssvd,1.0,96.0,200.0,1802.0,1167.0,1,dataset/images/train/ID_SCg5VZ.jpg,1,54,"[200.0, 96.0, 967.0, 1706.0]",dataset/images/val/ID_SCg5VZ.jpg
52,ID_bJrfR5.jpeg,cssvd,1.0,38.0,0.0,2241.0,813.0,1,dataset/images/train/ID_bJrfR5.jpeg,1,52,"[0.0, 38.0, 813.0, 2203.0]",dataset/images/val/ID_bJrfR5.jpeg
10,ID_gqbwtB.jpg,healthy,1.0,12.0,281.0,155.0,387.0,2,dataset/images/train/ID_gqbwtB.jpg,2,10,"[281.0, 12.0, 106.0, 143.0]",dataset/images/val/ID_gqbwtB.jpg

In [11]:
columns = ["image_id", "bbox", "category_id", "id"]

train[columns].to_json(
	"dataset/train.json",
	# orient="records",
	# lines=True,
)
valid[columns].to_json(
	"dataset/valid.json",
	# orient="records",
	# lines=True,
)